p {
    font-family: Garamond;
}

h2 {
    text-decoration: bold;
    color: red;
}

header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color: whitesmoke;
}
main {
    background-color: white;
    padding: 16px;
}
.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}

